body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  background: linear-gradient(to bottom, #aee1f9, #cde3f0);
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
}

h1 {
  color: #222;
  font-size: 32px;
  margin-bottom: 10px;
}

p {
  color: #333;
  font-size: 18px;
}

canvas {
  border: 5px solid #222;
  margin-top: 20px;
  border-radius: 12px;
  background-color: #555;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}
